* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
}

.header__wrapp {
  display: flex;
  flex-direction: column;
  padding: 161px 624px 72px;
}

.header__title {
  font-family: Roboto-Bold, sans-serif;
  color: #161d25;
  font-size: 38px;
  line-height: auto;
  padding-bottom: 13px;
}

.header__phrase {
  font-family: Roboto-Regular, sans-serif;
  font-size: 22px;
  text-align: center;
  color: #5d7085;
}

/*Конец шапки*/

/*начало секции карточек*/

.cards__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cards__list {
  display: flex;
  gap: 6px;
}

.cards__list-item {
  display: flex;
  background-color: #fdc624;
  flex-direction: column;
  max-width: 266px;
  max-height: 601px;
  align-items: center;
  color: #fff;
  font-family: Roboto, sans-serif;
}

.card {
  padding: 0 36px 0 33px;
  display: flex;
  flex-direction: column;
}

.cards__list-item-popular {
  display: block;
  visibility: hidden;
  margin: 0 auto;
  padding: 8px 0 17px 0;
}

.cards__list-item-image {
  max-width: 196px;
  max-height: 114px;
  padding-bottom: 15px;
}

.cards__list-item-title-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
}

.cards__list-item-title {
  font-size: 21px;
  font-weight: 500;
}

.cards__list-item-subtitle {
  font-size: 12px;
  font-weight: 400;
}

.cards__list-item-price {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.price__valuta {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.price__value {
  font-size: 67px;
  font-weight: 700;
}

.cards__list-item-features {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 19px;
  min-height: 121px;
}

.cards__list-item-feature {
  padding-left: 10px;
}

.cards__list-button {
  background-color: transparent;
  border-radius: 3px;
  max-width: 196px;
  max-height: 40px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: capitalize;
  padding: 13px 51px 11px 52px;
  font-family: Roboto-Medium, sans-serif;
  margin-bottom: 36px;
}
